* {
  font-family: "Nunito";
}

body {
  font-family: "Nunito";
}

.header2 {
  background-color: #ffffff;
}

.vintePor {
  width: 20% !important;
}

.d-inline-block {
  display: inline-block !important;
}

.w-400 {
  width: 400px !important;
}

.w-350 {
  width: 350px !important;
}

.w-200 {
  width: 200px !important;
}

.alerta-container {
  width: 90%;
  margin-left: 5%;
  position: absolute;
  margin-top: -160px;
  display: none;
  z-index: 999999;
}

.bg-blue-light {
  background-color: #3cb6fb !important;
}

.borda-azul {
  border: 1px solid #0d6efd !important;
}

.ms-2-5 {
  margin-left: 2.5rem !important;
}

.lh-70 {
  line-height: 70px !important;
}

.d-inline-grid {
  display: inline-grid !important;
}

.vertical-align-middle {
  vertical-align: middle;
}

.badgeGreen {
  border-radius: 20px;
  background: var(--Status-Sucess, #04a943);
}

.col-49-per {
  width: 49% !important;
  margin-left: 0.5% !important;
}

.desabilita {
  filter: grayscale(1) !important;
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.banner-bg {
  width: 94%;
  min-height: 180px;
  padding: 24px;
  margin-left: 3%;
  margin-bottom: 5%;
  border-radius: 20px;
  background: var(--primria-blue-1, #002e69);
  height: 132px;
  float: left;
}

.banner-titulo {
  color: var(--Secundario-Blue--1, var(--Blue--2, #bfe8ff));
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1em;
  padding-bottom: 0.2em;
}

.banner-texto {
  color: var(--Secundario-White, #fff);
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fundoLaranja {
  background-color: #f7931e !important;
}

.radio-1 {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.alerta-content {
  border-radius: 20px;
  background: var(--button, #002e69);
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 145px;
}

.alerta-text {
  color: var(--Secundario-White, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.alerta-arrow {
  width: 36px;
  height: 18px;
  margin-top: -12px !important;
}

.card:hover {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

.btCategorias.dropdown-toggle::after,
.btCategorias.dropdown-toggle-bgdark::after {
  content: url("../images/arrow-down-2.svg") !important;
  display: inline-block;
  border: none;
  float: right;
}

.btCategorias.dropdown-toggle-bgdark::after {
  content: url("../images/arrow-down-2.svg") !important;
  float: right;
}

.dropdown-toggle::after {
  content: url("../images/arrow-down-1.svg");
  display: inline-block;
  border: none;
}

.dropdown-toggle.dropdown-toggle-bgdark::after {
  content: url("../images/arrow-down-1-white.svg");
  display: inline-block;
  border: none;
}

.accordion-button::after {
  content: url("../images/ico-add.svg");
  background-image: none !important;
}

.accordion-button:not(.collapsed)::after {
  content: url("../images/ico-add.svg");
  transform: rotate(45deg);
}

.bgDark .accordion-button::after {
  filter: grayscale(1);
}

.bgDark .accordion-button:not(.collapsed)::after {
  filter: grayscale(1);
}

#featureContainer {
  width: 1184px;
  max-width: 1184px;
  padding-left: 2px;
  padding-right: 2px;
}

#slideBannerHeader {
  position: absolute;
  width: 100%;
  height: 200px;
  overflow: hidden;
  z-index: -1;
}

#slideBannerHeader img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#slideBannerHeader2 {
  padding-left: 0;
  padding-right: 0;
}

#bgBlackTranspFull {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
  transition: opacity 1s ease;
}

.blocoSearchBlue {
  border-radius: 20px 20px 0px 0px;
  background: var(--button, #002e69);
}

.borderRadiosTop20 {
  border-radius: 20px 20px 0px 0px;
}

.borderRadiosBottom20 {
  border-radius: 0px 0px 20px 20px;
}

.blocoListScroll-1 {
  overflow-y: auto;
  max-height: 1290px;
}

.itemBolsa h6 {
  color: #002e69;
  font-weight: 600;
  padding-top: 15px;
}

.nav-tab-1 .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: none;
  border: none;
  border-bottom: 2px solid #002e69;
  color: var(--Blue, #002e69);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav-tab-1 .nav-item.show .nav-link,
.nav-tabs .nav-link {
  background: none;
  border: none;
  color: var(--Blue, #002e69);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bgDark .nav-tab-1 .nav-item.show .nav-link,
.bgDark .nav-tabs .nav-link.active {
  background: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: var(--Blue, #ffffff);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bgDark .nav-tab-1 .nav-item.show .nav-link,
.bgDark .nav-tabs .nav-link {
  background: none;
  border: none;
  color: var(--Blue, #ffffff);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-tabs.nav-tab-1 .nav-item {
  flex: 1;
  text-align: center;
}

.nav-tabs.nav-tab-1 .nav-link {
  width: 100%;
}

.botaoRedondo1 {
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 40px;
  background: var(--button, #002e69);
  color: var(--Secundario-White, #fff);
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.botaoRedondo2 {
  border-radius: 30px;
  background: var(--Status-Sucess, #04a943);
  display: flex;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: var(--Secundario-White, #fff);
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.botaoRedondo3 {
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 40px;
  background: #ffffff;
  border: 1px solid #002e69;
  color: #002e69;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.botaoInput-1 {
  display: flex;
  width: 50px;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 0px 5px 5px 0px;
  background: var(--primria-blue-1, #002e69);
}

.itemBolsa div {
  display: flex;
}

.bloco-lista-menu-mobile li a span {
  font-size: 17px;
}

.itemBolsa div span {
  display: flex;
  width: 65px;
}

.itemBolsa div span img {
  margin: 5px;
  margin-right: 5px !important;
}

.itemBolsa div span {
  border-radius: 20px;
  background-color: #04a943;
  color: #fff276;
  font-weight: 500;
  padding: 3px 8px;
  font-size: 0.9em;
}

.itemBolsa div span img {
  width: 10px !important;
  height: 11px !important;
  margin-bottom: 3px;
  margin-right: 1px;
  margin-left: 1px;
}

.itemBolsa div small {
  padding-left: 1.5em;
}

.icoDown {
  background-color: #d55351 !important;
}

.modeUnchecked {
  display: none;
}

.pt-6 {
  padding-top: 6px !important;
}

#slideBannerHeader2 .owl-item {
  min-width: 230px !important;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
#featureContainer .carousel-inner .carousel-item.active,
#featureContainer .carousel-inner .carousel-item-next,
#featureContainer .carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  #featureContainer .carousel-inner .carousel-item-end.active,
  #featureContainer .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  #featureContainer .carousel-inner .carousel-item-start.active,
  #featureContainer .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
  #featureContainer .card img {
    width: 90%;
    height: 40vh;
  }
  #featureContainer .carousel-item {
    justify-content: space-between;
  }
}
#featureContainer .carousel-inner .carousel-item-end,
#featureContainer .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

#featureContainer .card {
  border: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  background: rgb(221, 221, 221);
  background: linear-gradient(180deg, rgb(221, 221, 221) 0%, rgb(255, 255, 255) 29%, rgb(255, 255, 255) 69%, rgb(221, 221, 221) 100%);
}

#featureContainer .card .card-img {
  height: 81px;
}

#featureContainer .card {
  border-radius: 0;
}

#featureContainer .card .card-img-overlays {
  position: absolute;
  bottom: 15%;
  left: 10%;
  top: 0;
}

#featureContainer a {
  text-decoration: none;
}

#featureContainer .indicator {
  border: 1px solid rgb(202, 202, 202);
  padding: 3px 6px 3px 6px;
}

#featureContainer .indicator:hover {
  background-color: blue;
  border: 1px solid blue;
  transition: 200ms;
}

#featureContainer .indicator:hover {
  color: white;
  transition: 200ms;
}

#featureContainer .indicator {
  color: lightgray;
}

#featureContainer .float-end {
  padding-top: 10px;
}

* {
  outline: none !important;
  list-style-type: none !important;
}

body {
  background-color: #eeeeee;
}

.img404-dark {
  display: none;
}

.bgDark {
  background-color: #25282c;
}

.bgDark .img404-dark {
  display: block;
}

.bgDark .img404 {
  display: none;
}

.bgDark .bgDark-fonte-1 {
  color: #ffffff !important;
}

.bgDark .bgDark-fonte-2 {
  color: #404040 !important;
}

.bgDark .botaoRedondo1 {
  --bs-bg-opacity: 1 !important;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bgDark footer {
  --bs-bg-opacity: 1 !important;
  background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bgDark footer .ico-blue-white:hover {
  filter: grayscale(100%) brightness(0) invert(100%);
  opacity: 0.8;
}

.bgDark .breadcrumb-item a {
  color: #e6e6e6 !important;
}

.bgDark #btCashback {
  filter: grayscale(100%) brightness(0) invert(100%) !important;
}

.bgDark #btPontosMilhas {
  filter: grayscale(100%) brightness(0) invert(100%) !important;
}

.bgDark #btCartoes {
  filter: grayscale(100%) brightness(0) invert(100%) !important;
}

.bgDark .pagination-1 .active .page-link {
  color: #e6e6e6 !important;
}

.bgDark .arrow-left-1 {
  background-image: url(../images/arrow-down-2.svg);
  display: block;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 0.3em;
  transform: rotate(89deg);
  background-size: 90%;
  width: 25px;
  opacity: 0.6;
}

.bgDark .arrow-right-1 {
  background-image: url(../images/arrow-down-2.svg);
  display: block;
  height: 15px;
  background-repeat: no-repeat;
  margin-top: 0.3em;
  transform: rotate(270deg);
  background-size: 90%;
  width: 25px;
  opacity: 0.6;
}

.bgDark .arrow-left-1:hover,
.bgDark .arrow-right-1:hover {
  opacity: 1;
}

.bgDark .blocoCategorias-1 a {
  color: #e6e6e6 !important;
}

.bgDark .blocoCategorias-1 img {
  filter: brightness(0) saturate(90%) invert(90%) grayscale(90%) !important;
}

.bgDark .blocoCategorias-2 span {
  color: #e6e6e6 !important;
}

#btPontosMilhas,
#btCashback,
#btCartoes {
  transition: all 0.5s ease;
}

.space-20px {
  display: inline-block;
  width: 20px;
  height: 1px;
}

.space-25px {
  display: inline-block;
  width: 25px;
  height: 1px;
}

.space-30px {
  display: inline-block;
  width: 30px;
  height: 1px;
}

.space-35px {
  display: inline-block;
  width: 35px;
  height: 1px;
}

.space-40px {
  display: inline-block;
  width: 40px;
  height: 1px;
}

.bgDark .redes-sociais-1 a img,
.bgDark .redes-sociais-1 a img {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.bgDark .redes-sociais-1 a:hover,
.bgDark .redes-sociais-1 a:hover img {
  filter: none;
}

.bgWhite {
  background-color: #ffffff !important;
}

.bgGray {
  background-color: #e6e6e6 !important;
}

.box-shadow-none {
  box-shadow: none !important;
}

.bgOrange {
  background-color: #f7931e !important;
  --bs-table-bg: #f7931e !important;
}

.bgBlue1 {
  background-color: #3cb6fb !important;
  --bs-table-bg: #3cb6fb !important;
}

.bgBlue2 {
  background-color: #0177ff !important;
  --bs-table-bg: #0177ff !important;
}

.bgBlue3 {
  background-color: #002e69 !important;
  --bs-table-bg: #002e69 !important;
}

.zeroAuto {
  margin: 0 auto;
}

.colorRed {
  color: #d55351;
}

.colorGreen {
  color: #04a943;
}

.vr25 {
  height: 25px;
  margin: 10px 13px 0 13px;
}

.switcherHeader {
  width: 58px !important;
  height: 33px;
}

.h43 {
  height: 43px;
}

.cabecalho2 {
  height: 290px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: block;
  /* background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.75) 70%,
    #eeeeee 30%
  );
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 70%, #eeeeee 30%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.75) 70%, #eeeeee 30%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.75) 70%, #eeeeee 30%); */
  text-align: center;
}

.cabecalho2Black {
  height: 290px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: block;
  /* background: -webkit-linear-gradient(top, rgba(0, 0, 0) 70%, #25282c 30%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0) 70%, #25282c 30%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0) 70%, #25282c 30%);
  background: linear-gradient(top, rgba(0, 0, 0) 70%, #25282c 30%); */
  text-align: center;
}

.boxSearch {
  max-width: 834px;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.dropdown-divider {
  margin: 0;
}

.menu2 {
  width: 1184px;
  height: 142px;
  background-color: #ffffff;
  border-radius: 10px;
  display: inline-flex;
}

.b-r-20 {
  border-radius: 20px;
}

.f-400 {
  font-weight: 400 !important;
}

.f-500 {
  font-weight: 500 !important;
}

.f-600 {
  font-weight: 600 !important;
}

.f-700 {
  font-weight: 700 !important;
}

.card-box-shadow {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

.NunitoBlue700 {
  color: var(--primria-blue-1, #002e69) !important;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoBlue700-3 {
  color: var(--primria-blue-1, #002e69) !important;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoBlue700-3 b {
  font-weight: 700;
}

.NunitoBlue700-2 {
  color: var(--Blue, #002e69) !important;
  font-family: "Nunito";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoBlue700-3 {
  color: var(--primria-blue-1, #002e69);
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoBlue700-2-link {
  color: var(--Blue, #002e69) !important;
  font-family: "Nunito";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: underline;
}

.NunitoBlue500 {
  color: var(--Blue, #002e69);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoBlue500-2 {
  color: var(--Blue, #002e69);
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoBlue500-3 {
  color: var(--Blue, #002e69);
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoBlue500-4 {
  color: var(--primria-blue-1, #002e69);
  font-family: "Nunito";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoWhite500 {
  color: var(--Secundario-White, #fff) !important;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoWhite500-2 {
  color: var(--Secundario-White, #fff);
  text-align: center;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoWhite700 {
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}

.NunitoWhite700-2 {
  color: var(--Secundario-White, #fff);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoGray500 {
  color: var(--Gray-Scale-Cinza-75, #404040) !important;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoGrey500-2 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  text-align: center;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.NunitoGrey500-3 {
  color: #bfbfbf;
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: normal;
}

.NunitoGray400 {
  color: var(--Gray-Scale-Cinza-50, #808080);
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.NunitoGray700 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  font-family: "Nunito";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoGray700-2 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoGray700-3 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.NunitoGray700-4 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.conteudoRodapeRosa {
  background-color: #ffbfbf;
  border-radius: 0 0px 20px 20px;
  padding: 40px;
  display: grid;
}

.card-2-p-3-linhas p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.photo-card-2 {
  object-fit: cover;
  height: 128px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.transform180 {
  transform: rotate(180deg);
}

.imagem-branca {
  filter: brightness(0) saturate(100%) invert(100%) grayscale(100%) !important;
}

.imagemBranca {
  filter: brightness(0) saturate(100%) invert(100%) grayscale(100%) !important;
}

.bgDark .navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(100%) grayscale(100%) !important;
}

.bgVerdeClaro {
  background-color: #dfc !important;
}

.bgVerdeClaro-2 {
  background-color: #DDFFCC !important;
}

.text-white {
  color: #ffffff !important;
}

.bgVerde {
  background-color: #04a943 !important;
}

.bgRosaRadius {
  border-radius: 20px;
  background: var(--Status-Danger--1, #ffbfbf);
}

.bgRosa {
  background: var(--Status-Danger--1, #ffbfbf);
}

.bgAmareloRadius {
  border-radius: 20px;
  background: var(--Status-Danger--1, #fff7cc);
}

#navbarSupportedContent .nav-link img {
  width: 26px !important;
  height: 25px !important;
}

.redes-sociais-1 img {
  width: 30px !important;
  height: 30px !important;
}

.ico-sociais-footer img {
  width: 30px !important;
  height: 30px !important;
}

.ico-blue,
.ico-blue-white {
  cursor: pointer !important;
}

.newsletter {
  background: var(--Blue--2, #bfe8ff);
  display: flex;
  padding: 64px 128px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.newsletterCampos {
  display: flex;
  width: 1184px;
}

.w-20 {
  width: 20%;
}

.w-250 {
  width: 250px;
}

.w-49 {
  width: 49%;
}

.w-48 {
  width: 48%;
}

.ml-3per {
  margin-left: 3%;
}

.card-1 {
  height: 140px;
  align-items: flex-start;
  flex: 1 0 0;
}

.card-2 {
  height: 128px;
  align-items: flex-start;
  flex: 1 0 0;
}

.inline-box {
  display: -webkit-inline-box;
}

.input-1 {
  border-radius: 5px;
  border: 1px solid var(--Gray-Scale-Cinza-50, #808080);
  background: var(--Secundario-White, #fff);
  color: var(--Gray-Scale-Cinza-50, #808080);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 45px;
  padding: 0 10px;
}

.input-2 {
  display: flex;
  height: 47px;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--Gray-Scale-Cinza-25, #bfbfbf);
  background: var(--Secundario-White, #fff);
}

.border-1 {
  border-radius: 5px;
  border: 1px solid var(--Gray-Scale-Cinza-25, #bfbfbf);
  background: var(--Secundario-White, #fff);
}

.bt-input-search-1 {
  background: white;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  height: 47px;
  border-color: var(--Gray-Scale-Cinza-25, #bfbfbf);
}

.label-1 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  leading-trim: both;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-select {
  background-image: url("../images/arrow-down-3.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
}

.form-select::after {
  content: "";
  background-repeat: no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
}

.check-1 {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 2.667px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.667px;
  border-radius: 3.333px;
  border: 0.667px solid var(--primria-blue-1, #002e69);
}

.link-1 {
  color: var(--Gray-Scale-Cinza-75, #404040);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.menu2 a {
  width: 170px;
  text-align: center;
  cursor: pointer;
  transition: background-color 1s ease;
}

.menu2 a div {
  height: 87px;
}

.menu2 a:hover {
  background-color: #afdef8;
}

.menu2 .menu2-primeiro:hover,
.menu2 .menu2-primeiro {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu2 .menu2-ultimo:hover,
.menu2 .menu2-ultimo {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu2 a img {
  transition: padding-top 0.7s ease;
}

.menu2 a:hover img {
  padding-top: 20px;
}

.menu2 a img {
  padding-top: 30px;
  padding-bottom: 5px;
}

.menu2 a span {
  line-height: 1.3rem;
}

#up {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  border: none;
  background: none;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  opacity: 0.9;
}

.cinza {
  background-color: #e6e6e6;
}

.container {
  width: 73.75vw;
  max-width: 73.75vw;
}

.anuncioTopo {
  width: 73.75vw;
  max-width: 73.75vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.textoTopo {
  font-family: "Nunito";
  font-size: 1rem;
  font-weight: bold;
}

.textoTopo label {
  text-align: left;
}

.textoTopo label a {
  color: #d55351;
  text-align: left;
  text-decoration: underline;
}

.logoTopo img {
  padding-left: 2vw;
}

.navbar-toggler {
  border: none;
}

.borderRadiusTop20 {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.borderRadiusTop10 {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.borderRadiusTopLeft10 {
  border-top-left-radius: 10px !important;
}

.borderRadiusTopRight10 {
  border-top-right-radius: 10px !important;
}

.borderRadius20 {
  border-radius: 20px !important;
}

.borderTopBlue-1 {
  border-top: 1px solid #002e69 !important;
}

.bgDark .borderTopBlue-1 {
  border-top: 1px solid #404040 !important;
}

.fonteAzulEscuro {
  color: #002e69;
}

.fonteBranco {
  color: #ffffff !important;
}

.bgAzulEscuro {
  background-color: #002e69;
}

.left {
  float: left;
}

.bold {
  font-weight: bold;
}

.w-10 {
  width: 10% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-97 {
  width: 97% !important;
}

.w-100 {
  width: 100% !important;
  max-width: 100% !important;
}

.h-200 {
  height: 200px !important;
}

.w-120px {
  width: 120px !important;
}

.w-11px {
  width: 11px !important;
}

.w-185px {
  width: 185px !important;
}

.w-410px {
  width: 410px !important;
}

.col-grid-1 {
  width: 410px;
}

footer {
  background-color: #002e69;
  color: #ffffff;
}

.linkUnderline {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.linkUnderline:hover {
  text-decoration: underline;
}

.card-30per {
  width: 31% !important;
  margin-right: 1em !important;
}

.card-20per {
  width: 19% !important;
  margin-right: 0.7em !important;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding-top: 7px;
  display: grid;
  font-size: 0.9rem;
}

.form-switch .form-check-input {
  background-image: url("../images/ico-switcher.svg") !important;
  border: 1px solid rgba(200, 200, 200, 0.5);
}

.form-switch .form-check-input:checked {
  background-image: url("../images/ico-switcher-dark.svg") !important;
  background-color: #ffffff;
  border-color: rgba(0, 46, 105, 0.5);
}

.carousel-item {
  transition: transform 0.2s ease-in-out;
}

.carousel-item-card {
  width: 20%;
}

.conteudo {
  width: 1184px;
  max-width: 1184px;
  padding-left: 2px;
  padding-right: 2px;
}

.owl-dots {
  display: none;
}

#slide-1 .owl-nav {
  display: block !important;
}

#banner-1 .owl-nav,
#banner-1 .owl-prev,
#banner-1 .owl-next {
  display: none;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

#banner-1:hover .owl-nav,
#banner-1:hover .owl-prev,
#banner-1:hover .owl-next {
  display: block;
  opacity: 1;
}

#banner-1 .owl-nav button.owl-prev {
  background: url(../images/arrow-down-2.svg);
  float: left;
  position: absolute;
  left: 0;
  margin-top: 5.4em;
  margin-left: 0.5em;
  text-indent: -9999999px;
  cursor: pointer;
  top: 0;
  background-repeat: no-repeat;
  width: 1.5em;
  background-size: 100%;
  transform: rotate(90deg);
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#banner-1 .owl-nav button.owl-next {
  background: url(../images/arrow-down-2.svg);
  float: left;
  position: absolute;
  right: 0;
  margin-top: 5.4em;
  margin-right: 0.5em;
  text-indent: -9999999px;
  cursor: pointer;
  top: 0;
  background-repeat: no-repeat;
  width: 1.5em;
  background-size: 100%;
  transform: rotate(270deg);
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

#slide-1 .owl-nav button.owl-prev {
  background: url("../images/arrow-slide-left.svg");
  width: 50px;
  height: 50px;
  float: left;
  position: absolute;
  left: 0;
  margin-top: 5rem;
  margin-left: -1.5rem;
  text-indent: -9999999px;
  cursor: pointer;
}

#slide-1 .owl-nav button.owl-next {
  background: url("../images/arrow-slide-right.svg");
  width: 51px;
  height: 50px;
  float: right;
  position: absolute;
  right: 0;
  margin-top: 5rem;
  margin-right: -0.9rem;
  text-indent: -9999999px;
  cursor: pointer;
}

#slide-2 .owl-nav {
  display: block !important;
}

#slide-2 .owl-nav button.owl-prev {
  background: url("../images/arrow-slide-left.svg");
  width: 50px;
  height: 50px;
  float: left;
  position: absolute;
  left: 0;
  margin-top: 9rem;
  margin-left: -1.5rem;
  text-indent: -9999999px;
  cursor: pointer;
}

#slide-2 .owl-nav button.owl-next {
  background: url("../images/arrow-slide-right.svg");
  width: 51px;
  height: 50px;
  float: right;
  position: absolute;
  right: 0;
  margin-top: 9rem;
  margin-right: -0.9rem;
  text-indent: -9999999px;
  cursor: pointer;
}

.breadcrumb-item a {
  color: var(--Blue, #002e69);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb-item.active {
  color: var(--Gray-Scale-Cinza-50, #808080);
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url(../images/arrow-down-2.svg);
  display: inline-block;
  width: 10px;
  height: 28px;
  margin-left: 5px;
  position: relative;
  top: 5px;
  filter: contrast(0.5);
  transform: rotate(270deg);
  margin-top: -6px;
  float: left;
  margin-right: 9px;
}

.mh-100 {
  min-height: 100px;
}

.mh-150 {
  min-height: 150px;
}

.mh-180 {
  min-height: 180px;
}

.mh-200 {
  min-height: 200px;
}

.mh-300 {
  min-height: 300px;
}

.mh-73 {
  min-height: 73px;
}

.pagination-1 .page-item .page-link {
  background: transparent;
  color: #808080;
  border: none;
  font-size: 20px !important;
  margin: 0 0.5rem;
}

.pagination-1 .active .page-link {
  color: #002e69 !important;
  font-weight: 700;
}

.pagination-1 > .page-item .active {
  color: #002e69;
  text-align: center;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrow-left-1 {
  background-image: url(../images/arrow-left.svg);
  display: block;
  width: 12px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 0.3em;
}

.arrow-right-1 {
  background-image: url(../images/arrow-right-5.svg);
  display: block;
  width: 12px;
  height: 20px;
  background-repeat: no-repeat;
  margin-top: 0.3em;
}

.mobile-d-block {
  display: none !important;
}

.h-70px {
  height: 70px !important;
  line-height: 70px !important;
}

.h-50px {
  height: 50px !important;
  line-height: 50px !important;
}

@media (max-width: 1390px) {
  .d-flex-tablet {
    display: flex !important;
  }
  .ms-37-per-tablet {
    margin-left: 37% !important;
  }
  .col-1-footer {
    width: 40%;
  }
  .col-1-footer div {
    padding-left: 1rem !important;
  }
  .col-2-footer {
    width: 30%;
  }
  .col-3-footer {
    width: 30%;
  }
  .col-4-footer {
    width: 100%;
    text-align: center;
    padding-top: 3rem;
  }
  .col-5-footer {
    text-align: center;
    padding-top: 2rem;
  }
  .tablet-d-none {
    display: none;
  }
}
@media (max-width: 1184px) {
  .mh-390-tablet {
    min-height: 390px;
  }
  .mh-420-tablet {
    min-height: 420px;
  }
  .mh-470-tablet {
    min-height: 470px;
  }
  .mh-490-tablet {
    min-height: 490px;
  }
  .w-60-zeroAuto {
    width: 60% !important;
    margin: 0 auto !important;
    display: block !important;
  }
  #blocoPontosMilhas,
  #blocoCashback,
  #blocoCartoes {
    width: 100%;
    padding-right: 0;
    margin-left: 2%;
  }
  .anunciosPontosMilhas,
  .anunciosCashback,
  .anunciosCartoes {
    display: none;
  }
  .cardsPontosMilhas .card-30per,
  .cardsCashback .card-30per,
  .cardsCartoes .card-30per {
    width: 32%;
    margin-right: 1%;
  }
  .blocoCategorias-1 .col-3,
  .blocoCategorias-1 .col-md-3 {
    width: 33%;
  }
  .h-100-cover {
    height: 100px;
    object-fit: cover;
  }
  .card-50-per-tablet {
    width: 50%;
  }
  .card-50-per-tablet p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    min-height: 100px;
  }
  .col-grid-1 {
    width: 49% !important;
    margin-right: 1% !important;
  }
  .cabecalho2 {
    width: 100%;
  }
  .conteudo {
    width: 95%;
    max-width: 95%;
  }
  .menu2 {
    width: 95%;
  }
  #featureContainer {
    width: 95%;
  }
  .newsletter {
    padding: 64px 64px;
  }
  .newsletterCampos {
    width: 100%;
  }
  .card-50-50 .photo-card-1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    border-bottom-left-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  }
  .card-50-50 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
  }
}
@media (max-width: 1080px) {
  .desktop-d-block {
    display: none !important;
  }
  .w-100-tablet {
    width: 100%;
  }
  .blocoCategorias-1 .col-md-3 {
    font-size: 16px !important;
  }
  .carousel-item-card {
    width: 25%;
  }
  .menu2 a span {
    font-size: 0.9rem;
  }
  .menu2 a img {
    width: 60px;
  }
  .box {
    width: 100%;
    max-width: 100%;
  }
  .anuncioTopo {
    width: 100vw;
    max-width: 100vw;
  }
  #featureContainer {
    width: 95%;
  }
  footer div.container {
    width: 95%;
    max-width: 95%;
  }
  .tablet-flex-center-auto {
    margin: 0 auto;
    display: flex;
  }
  .w-50-tablet {
    margin: 0 auto;
    width: 50%;
  }
  .blocoCamposPesquisa {
    width: 93% !important;
  }
}
@media (max-width: 1050px) {
  .alerta-text {
    font-size: 19px;
  }
}
@media (max-width: 990px) {
  .alerta-text {
    font-size: 18px;
  }
}
@media (max-width: 955px) {
  .alerta-text {
    font-size: 17px;
  }
}
@media (max-width: 900px) {
  .alerta-text {
    font-size: 16px;
  }
}
@media (max-width: 690px) {
  .alerta-text {
    font-size: 15px;
  }
}
@media (max-width: 630px) {
  .alerta-text {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .alerta-text {
    font-size: 13px;
  }
}
@media (max-width: 900px) {
  .blocoCategorias-1 .col-3,
  .blocoCategorias-1 .col-md-3 {
    width: 49%;
  }
}
@media (max-width: 900px) {
  .anuncio-1-conteudo {
    width: 100%;
  }
}
@media (min-width: 767px) {
  .imagemHomeAnuncio-1-tablet-desktop {
    height: 96px !important;
    object-fit: cover !important;
  }
  .card-31per {
    width: 31% !important;
    margin-right: 0.7em !important;
  }
}
@media (max-width: 766px) {
  .blocoCamposPesquisa {
    width: 97% !important;
    display: block !important;
  }
  #transferencia-bonificada .card-1 {
    display: grid;
    width: 100% !important;
    height: 284px;
  }
  #transferencia-bonificada .card-1 div {
    width: 100%;
  }
  #transferencia-bonificada .card-1 div p {
    width: 100% !important;
    padding: 7px 11px 0 11px !important;
  }
  #transferencia-bonificada .card-1 div a {
    width: 100% !important;
    padding-top: 16px !important;
    text-align: center;
  }
  #transferencia-bonificada .owl-item .card-50-per-tablet {
    width: 94%;
  }
  .width-auto {
    width: auto !important;
  }
  .d-flex-mobile {
    display: flex !important;
  }
  .px-4-mob {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  .w-73-mob {
    width: 73% !important;
  }
  .w-70-mob {
    width: 70% !important;
  }
  .w-60-mob {
    width: 60% !important;
  }
  .w-20-mob {
    width: 20% !important;
  }
  .w-10-mob {
    width: 10% !important;
  }
  .left-mob {
    float: left !important;
  }
  .mh-auto-mobile {
    min-height: auto !important;
  }
  .w-100-mob {
    width: 100% !important;
    max-width: 100% !important;
  }
  .ms-0-mob {
    margin-left: 0 !important;
  }
  .pt-0-mob {
    padding-top: 0 !important;
  }
  .mb-2-mob {
    margin-bottom: 0.5rem !important;
  }
  .mt-4-5-mob {
    margin-top: 2rem !important;
  }
  .mt-3-mob {
    margin-top: 1rem !important;
  }
  .pt-2-mob {
    padding-top: 0.5rem !important;
  }
  .ps-2-mob {
    padding-left: 0.5rem !important;
  }
  .ps-0-mob {
    padding-left: 0 !important;
  }
  .mt-2-mob {
    margin-top: 0.5rem !important;
  }
  .me-0-mob {
    margin-right: 0 !important;
  }
  .ms-2-mob {
    margin-left: 0.5rem !important;
  }
  .me-2-mob {
    margin-right: 0.5rem !important;
  }
  .d-grid-mob {
    display: grid !important;
  }
  .d-block-mob {
    display: block !important;
  }
  .col-1-footer {
    width: 100%;
    display: grid !important;
  }
  #featureContainer .card img {
    width: 100%;
    height: 75vh;
  }
  .col-grid-1 {
    width: 100% !important;
    margin-right: 0 !important;
  }
  #bloco-banner-1 {
    width: 100%;
    padding-right: 0 !important;
  }
  .logo-header {
    height: 28px;
  }
  .campo-pesquisa-header {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
  }
  .btCategorias {
    display: none;
  }
  #featureContainer .carousel-inner .carousel-item > div {
    display: none;
  }
  #featureContainer .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .bloco-lista-menu-mobile {
    overflow-y: scroll;
    height: 100%;
    position: fixed;
    width: 80%;
    padding: 0 15px;
    background: white;
  }
  .bloco-lista-menu-mobile li {
    height: 82px;
    line-height: 87px;
  }
  .mobile-d-block {
    display: block !important;
  }
  .tablet-d-block + .mobile-d-none {
    display: none !important;
  }
  .mobile-d-none {
    display: none !important;
  }
  .navbar-collapse {
    background-color: #ffffff;
    width: 80%;
    position: fixed;
    top: 0;
    right: 0;
    left: -80%;
    z-index: 1030;
    transition: left 0.5s ease;
    height: 100%;
  }
  .navbar-collapse.show {
    left: 0;
  }
  .carousel-item .vintePor {
    width: 50% !important;
  }
  .textoTopo label {
    text-align: center;
  }
  .textoTopo a {
    display: grid;
    text-align: center !important;
  }
  .cabecalho2 {
    margin-bottom: 23px;
    height: 125px;
  }
  .menu2 {
    display: none;
  }
  .col-1-footer-sub {
    padding-left: 1rem !important;
    margin-left: 1rem !important;
    width: 100% !important;
  }
  .linkUnderline {
    padding-top: 15px !important;
  }
  .col-1-footer-sub h5 {
    padding-top: 45px !important;
  }
  .col-1-footer div {
    padding-left: 0 !important;
  }
  .col-1-footer img {
    margin-left: 1rem !important;
    margin-bottom: 1.5rem !important;
  }
  .col-last-footer {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  .newsletter {
    padding: 1.5rem !important;
    text-align: center !important;
  }
  .newsletterCampos {
    display: grid !important;
    width: 100% !important;
  }
  .newsletterCampos .input-1-newsletter {
    width: 100% !important;
    margin-bottom: 1.5em !important;
  }
  .newsletterCampos .input-group {
    width: 100% !important;
  }
  .redes-sociais-1 .space-40px {
    width: 20px;
  }
  #slideBannerHeader2 #slide-0 {
    height: 100px;
  }
  #slideBannerHeader img {
    height: 128px !important;
  }
  .w-47-mob-3-per {
    width: 47% !important;
    margin-right: 3% !important;
  }
  .w-47-mob-3-per-2 {
    width: 47% !important;
  }
  .me-1-rem-mob {
    margin-right: 1rem !important;
  }
}
@media (max-width: 640px) {
  .me-1-rem-mob {
    margin-right: 0.1rem !important;
  }
  .textoTopo label {
    width: 55vw;
  }
  .carousel-item-card {
    width: 50%;
  }
  #transferencia-bonificada .card-1 {
    display: grid;
    width: 100% !important;
    height: 284px;
  }
  #transferencia-bonificada .card-1 div {
    width: 100%;
  }
  #transferencia-bonificada .card-1 div p {
    width: 100% !important;
    padding: 7px 11px 0 11px !important;
  }
  #transferencia-bonificada .card-1 div a {
    width: 100% !important;
    padding-top: 16px !important;
    text-align: center;
  }
  #transferencia-bonificada .owl-item .card-50-per-tablet {
    width: 94%;
  }
  .width-auto {
    width: auto !important;
  }
}
@media (max-width: 500px) {
  .banner-titulo {
    font-size: 22px;
  }
}
@media (max-width: 430px) {
  #slide-1 .owl-nav button.owl-next,
  #slide-1 .owl-nav button.owl-prev,
  #slide-2 .owl-nav button.owl-next,
  #slide-2 .owl-nav button.owl-prev {
    display: none !important;
  }
  .text-center-mobile {
    text-align: center !important;
  }
  .btVerMaisMini {
    display: none;
  }
  #dicas-especiais {
    padding-left: 6%;
  }
  #dicas-especiais .card-2 {
    display: grid;
    width: 95% !important;
    height: 284px;
  }
  #dicas-especiais .card-2 div {
    width: 100%;
  }
  #dicas-especiais .card-2 div p {
    width: 100% !important;
    padding: 15px 0 0 0 !important;
  }
  #dicas-especiais .card-2 div a {
    width: 100% !important;
    padding-top: 9px !important;
    text-align: left;
    padding-bottom: 13px;
  }
  #dicas-especiais .owl-item .card-50-per-tablet {
    width: 94%;
  }
  .width-auto {
    width: auto !important;
  }
  #slideBannerHeader2 .owl-item {
    min-width: 200px !important;
  }
  .anuncioTopo {
    width: 100vw;
    max-width: 100vw;
  }
  .logoTopo img {
    width: 23vw;
    padding-top: 6vw;
  }
  .fechaTopo span {
    padding-top: 8vw;
  }
  .textoTopo {
    padding-left: 10vw;
    font-size: 3.7vw;
    line-height: 5vw;
  }
  .textoTopo label {
    text-align: center;
  }
  .textoTopo a {
    display: grid;
    text-align: center !important;
  }
  footer div.container {
    width: 91%;
    max-width: 91%;
  }
  .photo-card-1 {
    border-top-right-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    border-top-left-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .px-0-mob {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .botao-100per-mob {
    font-size: 100%;
    width: 100% !important;
    display: block;
  }
  .my-4-mob {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .py-5-mob {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  .px-3-mob {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}
@media (max-width: 600px) {
  .ms-37-per-tablet {
    margin-left: 17% !important;
  }
}
@media (max-width: 360px) {
  .banner-titulo {
    font-size: 20px;
  }
  .banner-texto {
    font-size: 18px;
  }
}
@media (min-width: 1080px) {
  .card-20per-desktop {
    width: 19% !important;
    margin-right: 0.6em !important;
  }
}
.tablet-d-block-2 {
  display: none;
}

.tablet-d-none-2 {
  display: block;
}

@media (max-width: 1199px) {
  .tablet-d-block-2 {
    display: block !important;
  }
  .tablet-d-none-2 {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .exibe-desktop {
    display: block !important;
  }
  .oculta-desktop {
    display: none !important;
  }
  .w-49-tablet {
    width: 49.9999% !important;
  }
  .mt-0-tablet {
    margin-top: 0 !important;
  }
  .w-100-tablet {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .zeroAuto-mobile {
    margin: 0 auto;
  }
  .text-center-mobile-2 {
    text-align: center !important;
  }
  .w-100-mob-2 {
    width: 100% !important;
  }
  .mobile-d-none-2 {
    display: none !important;
  }
  .col-49-per-vertical {
    width: 48% !important;
  }
  .col-49-per-vertical .card-1 {
    height: 270px;
    display: block;
  }
  .col-49-per-vertical .card-1 .col-5 {
    width: 100%;
  }
  .col-49-per-vertical .card-1 .col-7 {
    width: 95%;
  }
  .col-49-per-vertical .card-1 .col-7 p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .col-49-per-vertical .card-1 .col-7 a {
    width: 100% !important;
    font-size: 12px;
    padding-top: 15px !important;
  }
}

/*# sourceMappingURL=site.css.map */
